body {
  background-color: black;
  color: white;
  margin: auto;
  max-width: 1000px;
  line-height: 2;
  font-family: "Noto Serif KR", serif;
}
img {
  margin-bottom: 15px;
}
ul,
h2 {
  line-height: 1.8;
  list-style-type: none;
  font-family: "Times New Roman", Times, serif;
}
ul a {
  color: white;
  text-decoration: none;
}
a {
  color: white;
}
h1 {
  text-align: center;
  padding: 10px;
  margin: 0;
}
h1 img {
  width: 200px;
}
h3 {
  margin-top: 50px;
  margin-bottom: 0;
}
.sns i,
.sns img {
  font-size: 23px;
  line-height: 2.5;
  margin-left: 10px;
  margin-right: 10px;
}
#active {
  color: white;
  font-weight: 1000;
  font-size: 110%;
  line-height: 0.9;
}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ul {
  width: 140px;
  margin: 0;
  padding-left: 20px;
  padding-top: 15px;
}
#article {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-bottom: 200px;
}
@media (max-width: 800px) or ((hover: none) and (pointer:coarse)) {
  #grid {
    display: block;
  }
  #grid ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 5px;
  }
  #article {
    padding-left: 0;
  }
  #article p {
    padding-left: 15px;
    padding-right: 15px;
  }
  h2 {
    display: none;
  }
}
@media (max-width: 400px) {
  h1 img {
    width: 35%;
  }
}
